.portfolio {
  background-color: inherit;
}
.portfolio-title {
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  width: calc((100% - 24px * 2) / 3);
}
.portfolio-pic {
  margin-bottom: 32px;
}
.portfolio-subtitle {
  padding-left: 16px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.portfolio-desc {
  padding-left: 16px;
  margin-bottom: 32px;
}
